@use "../../../appVariables";

.baseTable {
  width: 80%;
  margin: 0 auto;

  @media (max-width: appVariables.$SpMaxWidth) {
    width: 100%;
  }
}

.spinnerTd {
  box-shadow: none!important;
}

pre.nonIdeaState {
  font-family: appVariables.$AppFontFamily;
}
