@use "~src/index" as *;

table tbody {
  .trItem {
    height: 55px;
  }

  .trItem td {
    vertical-align: middle;
    border-bottom: 1px solid $pt-divider-black;
  }

  tr:first-child.trItem td {
    box-shadow: none;
  }

  td.tdAction {
    @include appLinkText();
    & {
      color: $pt-link-color;
    }
    &:hover {
      text-decoration: none;
    }
  }

  td.tdStartedAt {
    width: 105px;
  }

  td.bold {
    font-weight: bold;
  }

  .action {
    @include appLinkText();
    & {
      color: $pt-link-color;
    }
    &:hover {
      text-decoration: none;
    }
  }

  .detail {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tdEdit {
    width: 55px;
  }

  .button {
    display: none;
  }


  tr:first-child.trItemSp td {
    box-shadow: none;
  }

  .trItemSp {
    height: 45px;

    td {
      vertical-align: middle;
      border-bottom: 1px solid $pt-divider-black;
      padding: 3px;
    }
  }

  tr:hover .button {
    display: inline-flex;
  }
}
