@import "src/App";

.trItem {
  height: 55px;
}

.trItem td {
  vertical-align: middle!important;
}

.tdAction {
  @include appLinkText();
  color: $pt-link-color!important;
  box-shadow: none!important;

  &:hover {
    text-decoration: none;
  }
}

.tdStartedAt {
  width: 100px;
  box-shadow: none!important;
}

.tdStartedAtBold {
  width: 100px;
  font-weight: bold;
  box-shadow: none!important;
}

.tdOperation {
  text-align: center!important;
  width: 150px;
  box-shadow: none!important;
}

.button {
  display: none;
}

tr:hover .button {
  display: inline-flex;
}

.editButton {
  margin-left: 3px;
}

.deleteButton {
  margin-left: 3px;
}
