@import '@blueprintjs/core/lib/css/blueprint.css';
@import '@blueprintjs/icons/lib/css/blueprint-icons.css';
@import "@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import '@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import '@blueprintjs/select/lib/css/blueprint-select.css';

$AppMaxWidth: 1280px;

.App {
  .app-max-width {
    max-width: $AppMaxWidth;
  }
  .m-w-auto {
    margin: 0 auto;
  }
  .m-4 {
    margin: 4px;
  }
  .p-w-20 {
    padding: 0 20px;
  }
}
