@use '@blueprintjs/core/lib/css/blueprint';
@use '@blueprintjs/icons/lib/css/blueprint-icons';
@use '@blueprintjs/datetime/lib/css/blueprint-datetime';
@use '@blueprintjs/datetime2/lib/css/blueprint-datetime2';
@use '@blueprintjs/select/lib/css/blueprint-select';
@use "variables" as *;

html {
  height: 100%;

  body {
    margin: 0;
    padding: $pt-navbar-height 0 0;
    height: 100%;
    box-sizing: border-box;
    font-family: $AppFontFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    div#root {
      height: 100%;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  box-sizing: inherit;
}

// for storybook
#storybook-root {
  height: 100%;

  .navbar-height {
    padding: $pt-navbar-height 0 0;
    height: 100%;
  }
}
