.session-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);

  .session-card {
    width: 280px;
    padding: 20px;

    .session-callout {
      margin-bottom: 10px;
    }

    form {
      margin-bottom: 15px;

      button {
        width: 100%;
      }
    }

    div.links {
      margin-bottom: 5px;
      margin-right: 5px;

      .password-forget-link{
          float: left;
      }
      .sign-up-link {
          float: right;
      }
    }
  }
}
